* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  /* padding: 0px 10px; */
  z-index: 111111111;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbcbc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(122, 118, 118);
  border-radius: 5px;
}

/* Handle on Hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 6, 39);
}

/* Header Section */
.header-section {
  padding: 40px 80px;
  background: linear-gradient(rgba(2, 2, 2, 0.589), rgba(31, 30, 30, 0.671)),
    url("./asstes/Europe.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #fff;
  letter-spacing: 0.08em;
  font-size: 22px;
}
.logo > h2 > span {
  color: tomato;
}
.nav-menu {
  /* width: 40%; */
}
.mobile-menu {
  display: none;
}
.nav-menu > li {
  display: inline-block;
  margin-left: 18px;
}
.nav-menu > li > a {
  text-decoration: none;
  color: aliceblue;
}
.nav-menu > li > a:hover {
  color: tomato;
  border-bottom: 1px solid tomato;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 16px;
}

.nav-menu > li > button {
  padding: 8px 20px;
  background: none;
  border: 2px solid tomato;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.heading {
  padding: 80px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-box > h2 {
  color: rgb(243, 17, 55);
  text-shadow: 2px 2px 5px #000;
  text-transform: uppercase;
  font-size: 20px;
}

.heading-text {
  font-size: 50px;
  color: #fff;
  margin-top: 20px;
}

.heading-box > p {
  color: rgb(197, 196, 196);
  font-size: 15px;
  text-shadow: 1px 1px 15px rgb(44, 44, 44);
  margin-top: 20px;
}

.heading-button {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.heading-button > button {
  background: rgb(255, 199, 17);
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 30px;
}
.heading-button > button:hover {
  /* text-shadow: 1px 1px 15px #000; */
  background: rgb(243, 202, 66);
}

.heading-button > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heading-button > div > span {
  font-size: 26px;
  color: rgb(190, 10, 10);
  margin-top: 7px;
}

.heading-button > div > p {
  color: #fff;
  margin-left: 5px;
}

.svg-box {
  padding: 10px 0px;
  background: rgba(95, 95, 95, 0.658);
  border-radius: 10%;
}
.svg-box > img {
  height: 300px;
  display: block;
  margin: 0px auto;
}

/* Service Section */
.service-section {
  padding: 100px 80px;
  position: relative;
}
.for-background {
  position: absolute;
  background: rgb(219, 219, 219);
  height: 200px;
  width: 30%;
  top: 0;
  right: 0;
  border-bottom-left-radius: 2000%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
}

.service-section > p {
  text-align: center;
}
.service-section > h2 {
  text-align: center;
  letter-spacing: 0.08em;
  margin-top: 10px;
}
.service-section-container {
  padding: 10px 0px;
  margin-top: 50px;
}
.service-section-box {
  text-align: center;
  width: 90%;
  padding: 30px 0px;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);
}
.service-section-box:hover {
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.39);
}
.service-section-box > img {
  height: 55px;
}

.service-section-box > h4 {
  margin-top: 20px;
  margin-bottom: 6px;
  letter-spacing: 0.05em;
  font-size: 18px;
}

/* Destination Section */
.destination-section {
  padding: 100px 80px;
  background: rgb(237, 251, 255);
}
.destination-section > h2 {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.08em;
  font-size: 30px;
}
.destination-section > p {
  text-align: center;
}
.destination-section-container {
  margin-top: 80px;
}

.destination-section-box {
  width: 70%;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.39);
  padding-bottom: 20px;
  margin: 0px auto;
  border-radius: 10px;
}

.destination-section-box > img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.destination-name {
  font-weight: 700;
}

.destination-section-box > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 10px;
}
.destination-section-box > p {
  margin-left: 20px;
}

/* Trip Section */
.trip-section {
  padding: 100px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trip-section-box > h2 {
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.trip-section-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.trip-section-content > div {
  margin-right: 10px;
  font-size: 25px;
  /* width: 50%; */
  background: rgb(255, 136, 0);
  z-index: 111;
  color: #fff;
  padding: 5px;
  /* margin-top: 20px; */
  border-radius: 8px;
}
.trip-section-content > p {
  color: tomato;
  font-weight: 700;
}
.trip-section-content > p > label {
  color: #000;
  font-weight: 400;
  padding-top: 30px;
}
.trip-choose {
  /* margin: 0px auto; */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  padding: 20px;
  /* background: tomato; */
}
.trip-choose > img {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

.trip-choose > h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.trip-choose > div {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.trip-choose > div > span {
  margin-right: 10px;
}

/* Contact Section */
.contact {
  padding: 40px 0px;
  background-color: #faebeb;
}
.contact > h2 {
  text-align: center;
}
.contact > h2::after {
  content: "";
  display: block;
  margin: 5px auto;
  height: 3px;
  background: #000;
  width: 180px;
}
.contact-section {
  margin: 0px auto;
  width: 40%;
  background: rgb(5, 6, 71);
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.39);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 30px;
}
.contact-section > input {
  margin-top: 20px !important;
  padding: 8px 24px;
  color: #fff;
  margin: 0px auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.39);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
}
.contact-section > input:hover {
  background: tomato;
  border: 1px solid rgb(5, 6, 71) !important;
}
.contact-section > div {
  width: 100%;
}
.contact-section > div > h3 {
  font-size: 18px;
  margin: 8px 0px;
}
.contact-section > div > input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0px 10px;
}
.contact-section .comment {
  height: 100px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 8px;
}
.contact-section > div > p {
  margin: 10px 0px;
  font-size: 14px;
  color: red;
  text-shadow: 2px 2px 5px #000;
}

/* Partner Section */
.partner-section {
  padding: 10px 0px;
}
.partner-section > div > div {
  height: fit-content;
}
.partner-section img {
  width: 200px;
  /* height: 100px; */
}

@media screen and (max-width: 1200px) {
  .svg-box > img {
    height: 210px;
  }
}
@media screen and (max-width: 900px) {
  .header-section {
    height: 80vh;
  }
  .svg-box > img {
    height: 150px;
  }
  .heading-text {
    font-size: 35px;
  }
  .heading-box > h2 {
    font-size: 16px;
  }
  .destination-section-box {
    width: 100%;
    margin-top: 20px;
    /* flex-direction: column; */
  }
}
@media screen and (max-width: 700px) {
  .nav-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    cursor: pointer;
    font-size: 36px;
    color: #fff;
  }
  .svg-box {
    display: none;
  }
  .heading {
    padding: 80px 0px;
  }
  .service-section-container {
    justify-content: center;
  }
  .service-section-box {
    margin: 10px auto;
    width: 100%;
    padding: 20px 30px;
  }
  .trip-section {
    flex-direction: column;
    padding: 100px 30px;
  }
  .trip-choose {
    margin-top: 60px;
  }
  .trip-choose > img {
    width: 263px;
    height: 173px;
  }
  .trip-section-box > h2 {
    font-size: 30px;
  }
  .contact-section {
    width: 80%;
  }
  .destination-section-box {
    width: 100%;
    margin-top: 20px;
    /* flex-direction: column; */
  }
  .destination-section-box img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
}
